 <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>{{setting.name|trans}}</h3>
                    <p>{{setting.description|trans}}</p>
                  </div>

                 

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>{{'Useful Links'|trans}}</h4>
                    <ul>
                      <li><a href="#">{{'Home'|trans}}</a></li>
                      <li><a href="#">{{'About us'|trans}}</a></li>
                      <li><a href="#">{{'Services'|trans}}</a></li>
                      <li><a href="#">{{'Terms of service'|trans}}</a></li>
                      <li><a href="#">{{'Privacy policy'|trans}}</a></li>
                      <li>
                        <div class="ht-language-trigger"><span>{{'Languages'|trans}}</span></div>
                          <a href="{{path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale':'fr'}))}}"><img src="{{asset('img/flag-icon/2.jpg')}}" alt=""> {{'French'|trans}}</a>
                                <a href="{{path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale':'en'}))}}"><img src="{{asset('img/flag-icon/1.jpg')}}" alt=""> {{'English'|trans}}</a>
                    </li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>{{'Contact Us'|trans}}</h4>
                    <p>
                      {{setting.address|raw}}<br/>
                      <strong>{{'Phone'|trans}}:</strong> {{setting.phone}}<br>
                      <strong>Email:</strong> {{setting.email}}<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="{{setting.twitter}}" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="{{setting.facebook}}" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="{{setting.instagram}}" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="{{setting.linkedin}}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>{{'Send us a message'|trans}}</h4>
              <form action="{{path('contact')}}" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">{{'Your message has been sent. Thank you!'|trans}}</div>
                <div id="errormessage"></div>

                <div class="text-center"><button id="contactUs" type="submit" title="Send Message">{{'Send Message'|trans}}</button></div>
              </form>
            </div>

          </div>

          

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>MySoleas</strong>. All Rights Reserved
      </div>
     
    </div>
  </footer><!-- #footer -->
