{% extends 'email/layout.html.twig' %}
{% set title = '' %}
{% block title %}
    <p style="margin: 0; font-size: 16px; text-align: center;"><span style="font-size:46px;color:#003188;"><strong>{{operation.type}} - {{operation.reference}}</strong></span></p>
{% endblock %}
{% block content %}
    {% if isOwner == true %}
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Chers {{operation.receiver.profile.fullname}}, Vous avez une nouvelle transaction via <strong>Immoleas</strong></span></p>
    <p style="margin: 0; mso-line-height-alt: 18px;"> </p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Les details sont les suivants :</span></p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Locataire : </span> {{operation.user.profile.fullname}} {{operation.user.profile.lastname}}</p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Bien : </span>{% if operation.estate is defined and operation.estate is not null %}{{operation.estate.type}} {{operation.estate.name}}{% else %}{{operation.housing.type}} {{operation.housing.name}}{% endif %}</p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Montant   : </span> {{operation.amount}} XAF</p>
    {% else %}
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Chers {{operation.user.profile.fullname}}, Vous venez d'effectuer une transaction sur <strong>Immoleas</strong></span></p>
    <p style="margin: 0; mso-line-height-alt: 18px;"> </p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Les details sont les suivants :</span></p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Propietaire : </span> {{operation.receiver.profile.fullname}} {{operation.receiver.profile.lastname}}</p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Bien : </span>{% if operation.estate is defined and operation.estate is not null %}{{operation.estate.type}} {{operation.estate.name}}{% else %}{{operation.housing.type}} {{operation.housing.name}}{% endif %}</p>
    <p style="margin: 0; mso-line-height-alt: 24px;"><span style="font-size:16px;color:#6d89bc;">Montant   : </span> {{operation.amount}} XAF</p>
    <p style="margin: 0; mso-line-height-alt: 18px;"> </p>
    {% endif %}



{% endblock %}

